header{ 
  background-color: lightgray;
  color: black;
  padding: 50px;
  text-align: center;
  border-radius: 100px;
}
h1 {
  font-size: 2.5em;
  margin: 0;
  color: aquamarine;
}
h2 {
  font-size: 2em;
  margin: 0;
  color: lightblue;
}
h3 {
  font-size: 1.5em;
  margin: 0;
  color:lightblue;
}
h4 {
  font-size: 1.2em;
  margin: 0;
  color: purple;
  border-radius: 100px;
}
body {
  font-family: Arial, sans-serif;
  background-color: burlywood;
  color: #333;
  line-height: 1.6;
  text-align: center;
  position: relative;
}
h5 {
  font-size: 1em;
  margin: 0;
  color: darkblue;
  border-radius: 1000px;
  background-color: lightgray;
  height: 30px;
  padding: 20px;
  width: 100px;
}
   