header {
  display: flex;
  padding: 10px;
  position: fixed;
  background-color: coral;
  border-radius: 100px;
}
body {
  padding: 10px;
  position: fixed;
  background-color: rgb(95, 150, 160);
}

nav ul {
  position: fixed;
}

.navbar {
  padding: 10px;
}
.navbar a {
  position: relative;
  font-size: medium;
  color: blueviolet;
  text-decoration: wavy;
}
h1 {
  position: relative;
  color: brown;
  border-radius: 150px;
  transition: none;
}
h2 {
  color: rgb(165, 42, 149);
  border-radius: 100p
}
h3 {
  color: crimson;
  
  border-radius: 150px;
}
h4 {
  color: blueviolet;
  background-color: burlywood;
  border-radius: 50px;
  height: 50px;
  width:150px;
  text-align: center;
}
